
Titanic/.ipynb_checkpoints/*
Corona19/.ipynb_checkpoints/corona-checkpoint.ipynb
Corona_competition/.ipynb_checkpoints/Corona_competition-checkpoint.ipynb
Corona_competition/.ipynb_checkpoints/COVID19 Global forcast1-checkpoint.ipynb
